<section>
  <div class="mx-auto w-full max-w-2xl md:px-12 flex flex-col items-center pt-24 md:pt-36 text-center p-2">
    <h1 class="text-white  text-3xl md:text-5xl lg:text-6xl font-extrabold max-w-3xl">Hey, I'm <span class="discord-blue px-4 ">ZayDocs</span> I Develop Stuff</h1>
    <p class="description text-lg px-3 max-w-4xl pt-6 md:pt-12">Hi, I'm ZayDocs (Known as Panda Dev Online), ZayDocs is a talented 17 year old developer from the United States he creates discord bots for fun and owns a Verified bot called Purplexity.</p>

  </div>
</section>