<section>
  <div class="mx-auto w-full max-w-4xl md:px-12 flex flex-col items-center pt-24 md:pt-36 text-center p-2">
    <span class="victory font-custom">Hello</span>
    <h1 class="text-3xl md:text-5xl lg:text-6xl font-extrabold max-w-3xl font-custom">I'm Tom</h1>
    <p class="description text-lg px-3 max-w-4xl pt-6 md:pt-12 font-sans">a digital project manager from Wales with a passion for front-end web development. Join me on this journey of discovery and creation as we explore the exciting world of web development together. </p>

  </div>
</section>