<section>
    <div class="flex grid-cols-3 gap-2 md:gap-3 justify-center pt-10 lg:pt-16 font-bold">
    <div class="discord-blue rounded-lg text-white py-1 md:py-2 px-2 md:px-6 text-md md:text-xl cursor-pointer"><a href="https://dsc.gg/qc-dev" target="_blank" rel="noopener">Discord</a></div>  
    <div class="discord-blue rounded-lg text-white py-1 md:py-2 px-2 md:px-6 text-md  md:text-xl cursor-pointer"><a href="https://instagram.com" target="_blank" rel="noopener">Instagram</a></div>        
    <div class="discord-blue rounded-lg text-white py-1 md:py-2 px-2 md:px-6 text-md  md:text-xl cursor-pointer"><a href="https://youtube.com" target="_blank" rel="noopener">Youtube</a></div>        
    </div>
    <div class="flex grid-cols-1 gap-3 justify-center pt-8 font-bold">
        <div class="invite-btn text-white py-1.5 md:py-3 px-3 md:px-6 text-md rounded-lg cursor-pointer"><a href="https://dsc.gg/Purplexity" target="_blank" rel="noopener">Invite My Bot</a></div>
    </div>
</section>


