@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
/* Crafted by jamship */

.discord-blue {
        background-color: #5865F2;
}

.invite-btn {
    background-color: #222222;
    border: 1px solid #3C3C3C;
  
  }

.description {
    color: #DBDBDB;
  }