<section>
  <div class="mx-auto w-full max-w-4xl md:px-12 flex flex-col items-center pt-24 md:pt-36 text-center p-2">
    <h1 class="text-3xl md:text-5xl lg:text-6xl font-extrabold max-w-3xl">About <div class="h-3 w-full bg-orange-500"></div>
      <div class="h-3 w-full bg-pink-600"></div>
      <div class="h-3 w-full bg-purple-400"></div></h1>
   
    <p class="description text-lg px-3 max-w-4xl pt-6 md:pt-12">a digital project manager from Wales with a passion for front-end web development. Join me on this journey of discovery and creation as we explore the exciting world of web development together. </p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel diam imperdiet, dapibus dui non, commodo quam. Vivamus convallis, nunc sit amet finibus rhoncus, nisi diam efficitur massa, sed interdum est lacus et diam. Sed quam tellus, sodales et diam non, placerat vehicula quam. Vestibulum nec lobortis sapien. Cras efficitur massa in nunc tempus volutpat. Maecenas tempor enim lacinia, tincidunt sapien ac, imperdiet massa. Nulla mi elit, dignissim nec augue a, pulvinar tempus dui. Nunc condimentum, lacus at lobortis auctor, erat mi dictum erat, in pellentesque elit quam vel mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  
  Etiam nibh nisi, vulputate vitae lacinia id, laoreet non eros. Aliquam turpis velit, molestie quis accumsan et, tincidunt a risus. Vivamus quis aliquet nunc. Nulla imperdiet et tortor quis interdum. Nulla congue vestibulum ipsum ut lobortis. Aliquam hendrerit consequat nisl, in posuere magna. Nulla eleifend tellus non ipsum placerat tincidunt. Mauris bibendum tincidunt purus. Phasellus bibendum eleifend aliquam. Sed sodales sapien vitae dapibus congue.
  
  Donec nec felis libero. Nam viverra rhoncus lorem. Morbi nisi ipsum, rhoncus id neque eu, rhoncus blandit nulla. Proin vestibulum pretium justo ac malesuada. Vestibulum accumsan mollis sem, ac tempus nunc sagittis et. Vestibulum bibendum tortor eget velit molestie, non semper lorem facilisis. Curabitur viverra eget nulla ut eleifend. In pharetra mattis urna, quis sollicitudin velit tempor et. Ut tempor, enim sit amet dignissim fermentum, purus ipsum ultricies mi, nec lacinia justo quam efficitur urna. Nullam at erat elit.
  
  Mauris feugiat posuere diam quis congue. Donec eget iaculis sem. Cras eget luctus nunc, et auctor lacus. Suspendisse faucibus dolor sit amet tortor fermentum venenatis. Suspendisse a ullamcorper sem. Phasellus et orci ut eros placerat tincidunt. Donec quis neque pellentesque, finibus purus a, blandit nisl.
  
  Vivamus cursus laoreet lacus quis luctus. Sed sed pharetra augue, sit amet fermentum nibh. Nullam at finibus nisl. Pellentesque semper maximus scelerisque. Aenean rutrum nibh enim, in pellentesque est lobortis non. Integer pharetra venenatis sapien in dictum. Curabitur ac tellus vel urna convallis blandit. Etiam vel sapien sed augue gravida facilisis in nec dolor. Mauris varius elit ac odio congue, eu pellentesque dolor accumsan. Aliquam semper purus risus, id tristique eros fringilla eu. Quisque id arcu nec dolor elementum luctus ac vitae felis. Nunc gravida efficitur nisl a venenatis. Suspendisse egestas tellus ut congue dignissim.</p>
  </div>
</section>