---
import Image from "./Image.astro";
---

<section>
  <div class="mx-auto w-full max-w-4xl md:px-12 flex flex-col items-center pt-24 md:pt-36 text-center p-2">
    
  </div>
</section>

<div class="flex flex-wrap mb-4 max-w-[85rem] w-full mx-auto px-6">
  <div class="w-1/2">
    <h1 class="inline-block md:text-5xl lg:text-7xl font-extrabold lowercase">
      hi, i'm tom
      <div class="h-2 w-full bg-orange-500"></div>
      <div class="h-2 w-full bg-pink-600"></div>
      <div class="h-2 w-full bg-purple-400"></div>
    </h1>
    <p>i'm a <strong>front-end developer</strong> and <strong>digital project manager</strong>.</p>
    <p>I learned to make websites on my own. I know how fun and rewarding it is, but I also know that it can be incredibly frustrating. I'm here to help make your journey into web development as easy and as fun as possible.</p>
    <div class="flex items-start">
      <a href="/about" class="wonky-button bg-white text-black border-4 border-blue-400 duration-200 ease-in-out transition text-xl font-bold mt-12 -rotate-2 z-50 hover:-rotate-0 inline-block px-5 py-3 relative text-center after:content-[''] after:transition-all after:w-full after:h-full after:z-0 after:block after:bg-red-500 after:absolute after:-bottom-4 after:-right-4 hover:after:-bottom-2 hover:after:-right-2 active:top-1 active:after:-top-0 active:-right-1 active:after:-right-0" target="_self" rel="" data-astro-cid-vnzlvqnm="">more about tom</a>
      <a href="/" class="wonky-button bg-white text-black border-4 border-blue-400 duration-200 ease-in-out transition text-xl font-bold mt-24 ml-12 rotate-6 z-50 hover:-rotate-0 px-5 py-3 relative text-center after:content-[''] after:transition-all after:w-full after:h-full after:z-0 after:block after:bg-red-500 after:absolute after:-bottom-4 after:-right-4 hover:after:-bottom-2 hover:after:-right-2 active:top-1 active:after:-top-0 active:-right-1 active:after:-right-0" target="_self" rel="" data-astro-cid-vnzlvqnm="">contact tom</a>
    </div>
  </div>
  <div class="w-1/2 lg:pl-12">
    <Image />
  </div>
</div>

<style>

  h1 {
    @apply mb-6;
  }

  p {
    @apply lg:text-2xl mb-6;
  }
</style>
