---
const {title} = Astro.props;
---

<section>
  <div class="mx-auto w-full max-w-4xl md:px-12 flex flex-col items-center pt-24 md:pt-36 text-center p-2">
    <h1 class="text-3xl md:text-5xl lg:text-6xl font-extrabold max-w-3xl lowercase">{title}
      <div class="h-2 w-full bg-orange-500"></div>
      <div class="h-2 w-full bg-pink-600"></div>
      <div class="h-2 w-full bg-purple-400"></div></h1>
  </div>
</section>