---
import BaseHead from "../components/BaseHead.astro";
---

<html
  lang="en"
  class="scroll-smooth  selection:bg-cyan-600 selection:text-white no-touchevents hydrated">
  <head>
    <BaseHead />
  </head>
<style> .discord { background-color: #223843; user-select: none; }</style>
  <body class="discord flex flex-col min-h-screen bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-white">
    <slot />


  </body>
</html>


