---
import BaseHead from "../components/BaseHead.astro";
---

<html
  lang="en"
  class="scroll-smooth  selection:bg-cyan-600 selection:text-white no-touchevents hydrated">
  <head>
    <BaseHead />
  </head>
<style> .discord { background-color: #1C1C1E; user-select: none; }</style>
  <body class="discord flex flex-col min-h-screen">
    <slot />


  </body>
</html>


