---
import BaseHead from "../components/BaseHead.astro";
import '@fontsource/permanent-marker';
import '@fontsource/ibm-plex-mono';
---

<html
  lang="en"
  class="scroll-smooth  selection:bg-cyan-600 selection:text-white no-touchevents hydrated">
  <head>
    <BaseHead />
  </head>
<style> .discord { background: linear-gradient(170deg, rgb(1, 1, 16) 0%, rgb(1, 1, 54) 48%, rgb(44, 14, 23) 100%); user-select: none; }</style>
  <body class="discord flex flex-col min-h-screen text-white">
    <slot />


  </body>
</html>


