---
import BaseHead from "../components/BaseHead.astro";
import '@fontsource-variable/manrope';
---

<html
  lang="en"
  class="scroll-smooth  selection:bg-cyan-600 selection:text-white no-touchevents hydrated">
  <head>
    <BaseHead />
  </head>
  <body class="discord flex flex-col min-h-screen text-white">
    <slot />


  </body>
</html>


