<section>
  <div class="text-center ">
 <p class="discord-blue top px-4 py-2 text-xs md:text-sm text-white">👋 if u want me to develop a custom bot for you, hit me up on  <span class="font-bold"><a href="https://discord.com">Discord</a></span></span>
  </div>
</section>
